.customButton {
    width: 150px;
    height: 50px;
    letter-spacing: 0.5px;
    background-color: #596aff;
    color: white;
    font-size: 32px;
    border: 1.5px solid  #596aff;
    border-radius: 5px;
    cursor: pointer;
    }

.displayBtn{
   display: flex;
   justify-content: space-between;
    }
    
.active{
    background-color: rgb(25, 26, 24);
    border: 1.5px solid rgb(25, 26, 24);
    }